{% extends "shop/base.html" %}
{% load static %}
{% load humanize%}
{% load crispy_forms_tags %}
{% block title %}
  Checkout
{% endblock %}

{% block content %}
 <div class="container">
    <br>
    <h1 class="product_title text-center text-dark">
     checkout
    </h1>
  <div class="order-info text-center text-dark">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li class="text-danger">
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.price|intcomma }}</span>
        </li>
      {% endfor %}
    </ul>
    <p class="text-success">Total: ${{ cart.get_total_price|intcomma }}</p>
  </div>

  <form method="post" class="order-form text-center text-dark">
    {{ form | crispy }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form>
</div>
{% endblock %}